<div style="text-align:center" class="footer">
	<p >&copy; <span id="year"></span> Harul Kişi Salonu by Seymur. Müəllif hüquqları qorunur</p>

</div>

<script>
	document.getElementById("year").innerHTML = new Date().getFullYear();
</script>