<div class="footer">
	<!-- footer-->
	<div class="container">
		<div class="footer-block">
			<!-- footer block -->
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<div class="footer-widget">
						<h2 class="widget-title">Ünvanımız</h2>
						<ul class="listnone contact">
							<li><i class="fa fa-map-marker"></i> Suraxani ray. Ehmed Mehbaliyev, 92 94 küç </li>
							<li><i class="fa fa-phone"></i> +994 50-770-09-53</li>
							<li><i class="fa fa-fax"></i> +427 43-08</li>
							<li><i class="fa fa-envelope-o"></i>harul.salon@info.com</li>
						</ul>

					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="footer-widget footer-social">
						<!-- social block -->
						<h2 class="widget-title">Sosial Media</h2>
						<ul class="listnone">
							<li>
								<a href="https://www.facebook.com/SeymurZeynalli18"> <i class="fa fa-facebook"></i> Facebook </a>
							</li>
							<li><a href="https://twitter.com/Seymur187"><i class="fa fa-twitter"></i> Twitter</a></li>
							<li>
								<a href="https://www.youtube.com/channel/UC27OaqO-sizDB1xrni7zjKA">
									<i class="fa fa-youtube"></i>Youtube
								</a>
							</li>
							<li><a href="#"><i class="fa fa-google-plus"></i> Google Plus</a></li>
							<li><a href="https://www.linkedin.com/in/seymur-zeynalli-593b23266/"><i class="fa fa-linkedin"></i> Linked In</a></li>
						</ul>
					</div>
					<!-- /.social block -->
				</div>
				<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
					<div class="footer-widget widget-newsletter">
						<!-- newsletter block -->
						<h2 class="widget-title">Geri dönüş</h2>
						<p>
							Elektron poçtunuzu aşağıdakı qutuda qeyd edərək xidmət listimiz və qiymətlərimiz, o cümlədən digər
							faydalı yenilik
							lərdən yararlana bilərsiniz.
						</p>

						<form>
							
							<div class="input-group">
								<input type="email" class="form-control" placeholder="Email adresinizi daxil edin">
								<span class="input-group-btn">
									<button class="btn btn-default" type="submit" value="submit" name="sub">Abunə ol</button>
								</span>
							</div>
						</form>

					</div>
					<!-- newsletter block -->
				</div>
			</div>
			<div class="tiny-footer">
				<!-- tiny footer block -->
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="copyright-content">
							<p>©Harul Kişi Salonu 2023</p>
						</div>
					</div>
				</div>
			</div>
			<!-- /.tiny footer block -->
		</div>
		<!-- /.footer block -->
	</div>
</div>