<!DOCTYPE html>
<html lang="az">

<head>
	<title>Şifrəmi Unutdum</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="/User/css/login-style.css" />
	<style>
		body {
			margin: 0;
			padding: 0;
		}

		.alert-section {
			padding: 30px;
			text-align: center;
			margin-bottom: 20px;
			margin-top: 20px;
		}

		span {
			color: red;
			font-size: 13px;
		}

		h2 {
			text-align: center;
			margin-top: 20px;
			margin-bottom: 20px;
		}

		.form-container {
			text-align: center;
		}

		.form-control {
			width: 60%;
			margin: auto;
			display: block;
			margin-bottom: 10px;
		}

		button {
			display: block;
			margin: auto;
		}
	</style>
</head>

<body>
	<div class="alert-section">
		@if (TempData["warning-message"] != null)
		{
			<div class="alert alert-">
				@TempData["warning-message"]
			</div>
		}
	</div>
	<h2>Şifrəmi Unutdum</h2>
	<div class="form-container">
		<hr />
		<form asp-action="ForgotPassword" method="post">
			<div asp-validation-summary="All"></div>
			<div class="mb-3">
				<label for="Email"></label>
				<input name="Email" type="email" placeholder="Email adresi girin" class="form-control" />
			</div>
			<button type="submit" class="btn btn-primary">Göndər</button>
		</form>
	</div>
	<script src="/User/js/jquery.min.js"></script>
	<script src="/User/js/popper.js"></script>
	<script src="/User/js/bootstrap.min.js"></script>
</body>

</html>
